body {
    background-color: #000; /* Fondo negro */
    color: #fff; /* Texto blanco */
}

#wrapper {
    display: flex;
}

#sidebar-wrapper {
    min-height: 100vh; /* Asegura que la barra lateral ocupe toda la altura de la pantalla */
    width: 250px; /* Ancho fijo para la barra lateral */
}

.sidebar-heading {
    padding: 15px;
    font-size: 1.2em;
    background-color: #343a40; /* Color de fondo para el encabezado de la barra lateral */
}

.list-group-item {
    color: #fff; /* Color del texto de los elementos de la lista */
}

.list-group-item:hover {
    background-color: #007bff; /* Color de fondo al pasar el ratón */
}

#page-content-wrapper {
    width: 100%; /* Hace que el contenido principal ocupe todo el ancho restante */
    padding: 20px; /* Espaciado alrededor del contenido */
}

}


